.press-start {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.vt323 {
    font-family: "VT323", system-ui;
	font-weight: 400;
    font-style: normal;
}
 
.lucida {
    font-family: 'Lucida Console', monospace;
}
    

::-webkit-scrollbar {
    display: none;
}

*::selection{
    background: transparent;
    color: #f7f7f7;
}